
<div class="container">
    <div class="lays">
    <img src="../../assets/lays-potato-chips.jpg">
    </div>
    <div class="chips">
    <p>
        Lays-Potato-Chips
    </p>
    </div>
    <div class="potato">
        $20.00
    </div>
    <div class="laysquanti">
        <input type="number" class="btn" min="0">
    </div>
        <div class="remove1">
            <button class="btn1" >Remove</button>

        </div>
        <div class="total1">
            <input type="number" class="num1">
            </div>
        
</div>
<hr class="hr">
<div class="container1">
    <div class="oreo">
        <img src="../../assets/oreo.jpg">
    </div>
    <div class="biscuit">
        <p>
            Oreo[Cookies]
        </p>
    </div>
    <div class="cook">
        $15.00

    </div>
    <div class="oreoquanti">
        <input type="number" class="btn" min="0">
    </div>
    <div class="remove2">
        <button class="btn2">Remove</button>
    </div>
    <div class="total2">
        <input type="number" class="num2">
        </div>
</div>
<hr class="hr">

<div class="container2">
    <div class="slice">
        <img src="../../assets/pillsbury-slice-bake.jpg">
    </div>
    <div class="bake">
        <p>
            Pillsbury-slice-bake[Cookies]
        </p>
    </div>
    <div class="cookie">
        $25.00

    </div>
    <div class="bakequanti">
        <input type="number" class="btn" min="0">
    </div>
    <div class="remove3">
        <button class="btn3">Remove</button>
    </div>
    <div class="total2">
        <input type="number" class="num3">
        </div>
</div>
<hr class="hr">


<div class="container3">
    <div class="pasta">
        <img src="../../assets/bertolli-pasta-sauce.jpg">
    </div>
    <div class="sauce">
        <p>
            Bertolli-pasta-sauce
        </p>
    </div>
    <div class="soup">
        $70.00

    </div>
    <div class="saucequanti">
        <input type="number" class="btn" min="0">
    </div>
    <div class="remove4">
        <button class="btn4">Remove</button>
    </div>
    <div class="total3">
        <input type="number" class="num4">
        </div>
</div>
<hr class="hr">

<div class="container4">
    <div class="coffee">
        <img src="../../assets/coffee-mate-nestle.jpg">
    </div>
    <div class="mate">
        <p>
            Coffee-mate-nestle
        </p>
    </div>
    <div class="nestle">
        $50.00

    </div>
    <div class="nestlequanti">
        <input type="number" class="btn" min="0">
    </div>
    <div class="remove5">
        <button class="btn5">Remove</button>
    </div>
    <div class="total4">
        <input type="text" class="num5">
        </div>
</div>
<hr class="hr">
<div class="tot">
   <label class="st"> Sub Total</label>
   
   <input type="number" class="num6">
</div>
<div class="tax">
    <label class="tx">Taxes</label>
    <input type="number" class="num7">
</div>
<div class="tot">
    <label class="gt"> Grand Total</label>
    
    <input type="number" class="num8">
 </div>